%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps, [
    {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {branch, "feature/otp-17"}}},
    {meck, ".*", {git, "git://github.com/basho/meck.git", {branch, "feature/otp-17"}}}
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(riak_core_util|riak_repl_console|riak)\" : Mod)", []}]}.
