%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{deps, [
        {meck, "0.8.1", {git, "git://github.com/basho/meck.git", {tag, "0.8.1"}}},
        {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {tag, "2.0.0"}}}
       ]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(riak_core_util|riak_repl_console|riak)\" : Mod)", []}]}.
